@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

:root {
  /* light */
  /* --color-dark-0: #151619;
  --color-dark-100: #1d1f22;
  --color-dark-200: #2b2d31;
  --color-dark-300: #35393f;
  --color-grey-0: #5a6069;
  --color-grey-100: #7c8187;
  --color-grey-200: #c1c4cb;
  --color-grey-300: #e4e4e4;
  --color-white-0: #ffffff;
  --color-white-100: #f5f5f5;
  --color-orange-0: #e46643;
  --color-orange-100: #f39765;
  --color-overlay-0: #8a8a8cce;
  --color-overlay-100: #494b50d0; */

  /* dark mode */
  /* --color-white-d-100: #1d1f22;
  --color-white-d-0: #151619;
  --color-dark-d-300: #c1c4cb; */

  /* topography */
  --roboto-slap: "Roboto Slap", sans-serif;
  --roboto-regular: "Roboto ", sans-serif;
  --text-bold: 700;
  --text-light: 200;
  --roboto-mono: "Roboto Mono", monospace;
  --line-height: 24px;
  --char-spacing: 2px;
  --font-size-small: 14px;
  --font-size-medium: 15px;
  --font-size-light: 13px;
}
button {
  cursor: pointer;
  border: none;
  text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--color-darkH-300);
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 28px;
  font-weight: 300;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
  color: var(--color-orange-0);
}
p {
  word-wrap: break-word;
  white-space: normal;
}
/* .heading-medium {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
.heading-small {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
}
.roboto-light {
  font-size: 13px;
}
.preview-p,
.preview-p-bold,
.markdown {
  font-family: "Roboto Slap", serif;
  line-height: 24px;
  font-size: 14px;
}
.preview-p-bold {
  font-weight: 700;
}
.markdown {
  font-family: "Roboto Mono", monospace;
} */
